/* You can add global styles to this file, and also import other style files */

/**
 * ====================================================
 * 3rd parties
 * ====================================================
 */

// ...

/**
 * ====================================================
 * Unistylus
 * ====================================================
 */

@import '@unistylus/core/scss/skins/light-default';

@import '@unistylus/bootstrap/reset';
@import '@unistylus/bootstrap/core';
@import '@unistylus/bootstrap/content/typography';
@import '@unistylus/bootstrap/components/icon';

/**
 * ====================================================
 * App styles 
 * ====================================================
 */

// ...
