@import '@lamnhan/unistylus/scss/mixins';
$icon_host: 'https://icons.getbootstrap.com/assets/icons';

$shared_icons: ();

$light_theme_icons: (
  menu: '#{$icon_host}/list.svg',
  smile: '#{$icon_host}/emoji-smile.svg',
);

@include register_app_icons(
  (
    default: map-merge($shared_icons, $light_theme_icons),
    light: $light_theme_icons,
  )
);