@import '@lamnhan/unistylus/scss/mixins';

$shared_icons: ();

$light_theme_icons: (
  menu: '#{$builtin_icons}/light/list.svg',
  smile: '#{$builtin_icons}/light/emoji-smile.svg',
);

@include register_app_icons(
  (
    default: map-merge($shared_icons, $light_theme_icons),
    light: $light_theme_icons,
  )
);